              .container {
                width: 85%;
                background-color: #e7e8e9;
              }

              .styler {
                width: 85%;
                margin-left: 7.5%;
                background-color: white;
                padding-top: 10px;
              }

              .buttn {
                text-align: center;
              }

              .logon {
                text-align: right;
                padding-left: 85%;
              }

              .lft {
                text-align: center;
              }

              .flet {
                float: left;
              }

              .left1 {
                float: left;
                text-align: center;
              }

              .left2 {
                float: left;
                text-align: center;
              }

              .right1 {
                float: right;
                text-align: center;
              }

              .right2 {
                float: right;
                text-align: center;
              }

              .entire {
                padding: 10px 0px 0px 10px;
                background-color: #ffffff;
              }

              .sidebar {
                float: right;
                width: 30%;
              }

              .maincontent {
                float: left;
                width: 70%;
              }

              .maintop {
                /*float: left;
                color: #095382;
                font-size: 20px;
                font-weight: bold;*/
                width: 100%;
              }

              .maincontentdiv1 {
                width: 35%;
                float: left;
                padding-top: 0px;
                text-align: center;
              }

              .maincontentdiv2 {
                width: 35%;
                float: right;
                padding-bottom: 0px;
                text-align: center;
              }

              .divider {
                width: 1px;
                float: right;
                margin: 100px 0;
                background: #6CB7E3;
                height: 300px;
              }

              .calend {
                padding-top: 0px;
                text-align: left;
                padding-left: 0px;
              }

              ul {
                list-style-type: none;
              }

              body {
                font-family: Verdana, sans-serif;
              }
              /* Month header */

              .month {
                padding: 70px 25px;
                width: 100%;
                background: #1abc9c;
              }
              /* Month list */

              .month ul {
                margin: 0;
                padding: 0;
              }

              .month ul li {
                color: white;
                font-size: 20px;
                text-transform: uppercase;
                letter-spacing: 3px;
              }
              /* Previous button inside month header */

              .month .prev {
                float: left;
                padding-top: 10px;
              }
              /* Next button */

              .month .next {
                float: right;
                padding-top: 10px;
              }
              /* Weekdays (Mon-Sun) */

              .weekdays {
                margin: 0;
                padding: 10px 0;
                background-color: #ddd;
              }

              .weekdays li {
                display: inline-block;
                width: 13.6%;
                color: #666;
                text-align: center;
              }
              /* Days (1-31) */

              .days {
                padding: 10px 0;
                background: #eee;
                margin: 0;
              }

              .days li {
                list-style-type: none;
                display: inline-block;
                width: 13.6%;
                text-align: center;
                margin-bottom: 5px;
                font-size: 12px;
                color: #777;
              }
              /* Highlight the "current" day */

              .days li .active {
                padding: 5px;
                background: #1abc9c;
                color: white !important
              }

              .inside4 {
                padding-top: 10px;
              }
